<div class="tabs">
    {{range $status, $roundTrips := .RoundTripsPerStatus }}
    <input type="radio" name="tab" id="tab-{{$status}}">
    <label for="tab-{{$status}}">{{$status}}</label>
    <section class="tab-content">
        {{range $roundtrip := $roundTrips}}
        <div class="roundtrip {{$status}}">
            <div class="request">
                <h3>{{$roundtrip.Resp.Request.Method}} {{$roundtrip.Resp.Request.URL.Path}} | {{$roundtrip.Resp.Request.URL.RawQuery}}</h3>
                <code>keyword={{$roundtrip.Keyword}} value={{$roundtrip.FuzzValue}}</code>
            </div>
            <div class="response">
                <code>{{displayBody $roundtrip.Resp}}</code>
            </div>
        </div>
        {{end}}
    </section>
    {{end}}
</div>