<div class="tabs">
    {{range $status, $roundTrips := .RoundTripsPerStatus }}
    <input type="radio" name="tab" id="tab-{{$status}}">
    <label for="tab-{{$status}}">{{$status}}</label>
    <section class="tab-content">
        {{range $roundtrip := $roundTrips}}
        <div class="{{$status}}">
            <div class="request">
                <h3>{{$roundtrip.Request}}</h3>
                <code>{{$roundtrip.RequestBody}} </code>
                <code>param={{ $roundtrip.Ref }} in={{$roundtrip.Location}} values={{$roundtrip.Values}}</code>
            </div>
            <div class="response">
                <code>{{$roundtrip.ResponseBody}}</code>
            </div>
        </div>
        {{end}}
    </section>
    {{end}}

    {{ if .Errors }}
    <input type="radio" name="tab" id="tab-errors">
    <label for="tab-errors">Errors</label>
    <section class="tab-content">
        {{range $error := .Errors }}
        <div class="errors">
            <p>{{ $error }}</p>
        </div>
        {{end}}
    </section>
    {{end}}
</div>